/* CSS Variables */
:root {
    --light-color: #F3DFC1;
    --dark-color: #160F29;
    --primary-color: #F3DFC1;
    --secondary-color: #A7C4DA;
    --tertiary-color: #EA526F;
    --accent-color: #BF1A2F;
    --size: 100px;

    --blue-1: #25CED1;
    --blue-2: #0B7189;
    --blue-3: #344966;
}

/* Reset styles to remove default padding and margin */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: var(--dark-color);
    background-color: var(--light-color);
}

/* Navbar styles */
.navbar {
    z-index: 1;
    background-color: var(--primary-color);
    height: 50px;
    width: 100%;
}

/* Navigation bar list styles */
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center the list items horizontally */
    align-items: center;
    height: 100%;
}

.navbar li {
    margin: 0 10px; /* Add some spacing between list items */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Add smooth transition for hover effect */
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Side menu styles */
.side-menu {
    overflow: hidden;
    z-index: 1;
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; /* Adjust the width as needed */
    height: 100%;
    padding: 20px;
    transition: right 0.3s ease; /* Adding smooth transition when retracting */
}

.hide-menu {
    background-color: var(--secondary-color);
    position: fixed;
    top:0;
    right:0;
    z-index: 1;
    width: 300px;
    height: 100%;
    padding: 20px;
    -webkit-transform: translate3d(300px,0,0);
    -moz-transform: translate3d(300px,0,0);
    -o-transform: translate3d(300px,0,0);
    -ms-transform: translate3d(300px,0,0);
    transform: translate3d(300px,0,0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.show-menu {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.hide-side-menu-button{
    cursor:pointer;
    -webkit-transform: translate3d(-10px,0,0);
    -moz-transform: translate3d(-10px,0,0);
    -o-transform: translate3d(-10px,0,0);
    -ms-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.show-side-menu-button {
    margin-right: 310px;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#menu-tray-top{
    position: fixed;
    width: 270px;
    top:0;
}

#menu-tray-bottom{
    position: fixed;
    width: 270px;
    transform: scaleY(-1) scaleX(-1);
    left:20px;
    bottom:0;
}

/* Styles for the fish thumbnail and category title */
.menu-fish {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.menu-fish .name {
    margin-left: 10px;
}

/* Adjust styles for accent color as needed */
.menu-category-title {
    color: var(--accent-color);
    font-weight: bold;
}

/* Styles to make the fish image fit inside the side-menu */
.fish-thumb {
    max-width: 100%;
    max-height: 100px; /* Adjust the height as needed */
    display: block;
    margin: 0 auto;
}

/* Tank styles */

#bubble-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    //z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: -5%;
    top: 5%;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;

    left: 5%;
    top: 80%;

    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: 10%;
    top: 40%;

    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

    left: 20%;
    top: 0;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

    left: 30%;
    top: 50%;

    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: 50%;
    top: 0;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: 65%;
    top: 70%;

    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

    left: 80%;
    top: 10%;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

    left: 90%;
    top: 50%;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: 80%;
    top: 80%;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

    height: 200px;
    position: absolute;
    width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

    content: "";
    height: 180px;
    left: 10px;
    position: absolute;
    width: 180px;
}

.tank {
    background: radial-gradient(circle, var(--blue-1) 0%, var(--blue-2) 57%, var(--blue-3) 100%);
    background-size: 1500% 1000%;
    animation: gradient 30s ease infinite;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Styles for retracting the side menu */
.tank.active {
    right: 0;
}

.tank-fish {
    position: fixed;
    width: var(--size);
    height: var(--size);
    transition: top,left,angle, 1s;
}

.fish-part{
    position: fixed;
    width: inherit;
    height: inherit;
}

.fish-part img{
    width: inherit;
    height: inherit;
    transition: all, 1s;
}

.x {
    animation: x 13s linear infinite alternate;
}

.y {
    animation: y 7s linear infinite alternate;
}

@keyframes x {
    100% {
        transform: translateX(calc(100vw - var(--size)));
    }
}
@keyframes y {
    100% {
        transform: translateY(calc(100vh - var(--size)));
    }
}