/* CSS Variables */
:root {
    --light-color: #F3DFC1;
    --dark-color: #160F29;
    --primary-color: #F3DFC1;
    --secondary-color: #A7C4DA;
    --tertiary-color: #EA526F;
    --accent-color: #BF1A2F;
    --size: 100px;

    --blue-1: #25CED1;
    --blue-2: #0B7189;
    --blue-3: #344966;
}

/* Reset styles to remove default padding and margin */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: var(--dark-color);
    background-color: var(--blue-2);
    touch-action: manipulation;
}

/* Side menu styles */
.side-menu {
    z-index: 3;
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; /* Adjust the width as needed */
    height: 100%;
    padding: 20px;
    transition: right 0.3s ease; /* Adding smooth transition when retracting */
}

.side-menu-contents{
    width: 100%;
    height: 100%;
    padding: 10px;
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: scroll;
}

.hide-side-menu {
    z-index: 3;
    background-color: var(--secondary-color);
    position: fixed;
    top:0;
    right:0;
    width: 300px;
    height: 100%;
    padding: 20px;
    -webkit-transform: translate3d(300px,0,0);
    -moz-transform: translate3d(300px,0,0);
    -o-transform: translate3d(300px,0,0);
    -ms-transform: translate3d(300px,0,0);
    transform: translate3d(300px,0,0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.side-menu-contents{
    width: 100%;
    height: 100%;
    padding: 10px;
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: scroll;
}

.show-side-menu {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.side-menu-button {
    z-index: 2;
    color: var(--dark-color);
    position: absolute;
    width: 150px;
    left: -98px;
    padding: 15px 32px;
    transform: rotate(90deg);
    border: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: inherit;
    transition: 1s all;
    transition: .5s color, left;
}

.side-menu-button:hover{
    left: -101px;
    transition: .5s;
}

.bottom-menu{
    z-index: 3;
    background-color: var(--secondary-color);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px; /* Adjust the width as needed */
    height: 200px;
    padding: 20px;
    transition: right 0.3s ease; /* Adding smooth transition when retracting */
}

.bottom-menu-contents{
    width: 100%;
    height: 100%;
    padding: 10px;
    word-wrap: break-word;
    overflow: hidden;
}

.hide-bottom-menu {
    z-index: 3;
    background-color: var(--secondary-color);
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    height: 200px;
    padding: 20px;
    -webkit-transform: translate3d(0,200px,0);
    -moz-transform: translate3d(0,200px,0);
    -o-transform: translate3d(0,200px,0);
    -ms-transform: translate3d(0,200px,0);
    transform: translate3d(0,200px,0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.bottom-menu-button {
    z-index: 2;
    color: var(--dark-color);
    position: absolute;
    width: 150px;
    top: -48px;
    padding: 15px 32px;
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: inherit;
    transition: 1s all;
    transition: .5s color, left;
}

.bottom-menu-button:hover{
    top: -54px;
    transition: .5s;
}

.show-bottom-menu {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* Makes fish left align so name length doesn't effect their alignment*/
#hide-menu-fish img{
    display: block;
    margin-right: auto; /* this is supposed to work but doesn't >: */
}

.fish-holder {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button{
    transition: .5s;
}

.collapsible:after {
    float: right;
    margin-left: 5px;
    content: url('../Images/plus-circle-fill.svg');
}

.active:after{
    content: url('../Images/dash-circle-fill.svg');
}

.active, button:hover{
  color: white;
  transition: .5s color;
}

#hide-menu-game{
    background-color: var(--blue-2);
}

#hide-menu-fish{
    background-color: var(--primary-color);
}

#hide-menu-about{
    background-color: var(--secondary-color);
}

#hide-menu-settings{
    background-color: var(--tertiary-color);
}

.hide{
    position: absolute;
    left: 30px;
    transition: 1s;
}

#button-fish{
    top: 25%;
}

#button-about{
    top: 50%;
}

#button-settings{
    top: 75%;
}

.fish-menu button{
    border: none;
    padding: 15px 32px;
    align-self: center;
    width:100%;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--blue-2);
}

.game-menu button{
    z-index: 2;
    position: fixed;
    top: 50px;
    left: 45%;
    border: none;
    padding: 15px 32px;
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--accent-color);
    transition: all .5s;
}

.game-menu .hide-game-button{
    top: 200px;
    transition: all .5s;
}

.button-with-input button{
    padding: 15px 15px;
    width: 150px;
}

.hide-button{
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.button-with-input input{
    width: 45px;
}

.settings-menu input{
    margin-bottom: 50px;
}

#menu-tray-top{
    position: fixed;
    width: 270px;
    top:0;
}

#menu-tray-bottom{
    position: fixed;
    width: 270px;
    transform: scaleY(-1) scaleX(-1);
    left:20px;
    bottom:0;
}

/* Styles for the fish thumbnail and category title */
.menu-fish {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: transparent;
}

.menu-fish .name {
    margin-left: 10px;
}

/* Adjust styles for accent color as needed */
.menu-category-title {
    color: var(--tertiary-color);
    font-weight: bold;
}

/* Styles to make the fish image fit inside the side-menu */
.fish-thumb {
    max-width: 100%;
    max-height: 100px; /* Adjust the height as needed */
    display: block;
    margin: 0 auto;
}

.fish-store{
    display: flex;
}

.game-fish {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.game-fish .fish-thumb{
    height: 100%;
    display: block;
}

.fish-price{
    align-content: center;
    align-self: center;
    display: block;
}

.hide-game-button{
    bottom: -100px;
}

.tank {
    background: radial-gradient(circle, var(--blue-1) 0%, var(--blue-2) 57%, var(--blue-3) 100%);
    background-size: 1500% 1000%;
    animation: gradient 30s ease infinite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor:url(../Images/Cursor.png), auto;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.tank.active {
    right: 0;
}

.tank-fish {
    position: fixed;
    width: var(--size);
    height: var(--size);
    transition: top,left,angle, 1s;
}

.fish-part{
    position: fixed;
    width: 100%;
    height: 100%;
}

.fish-part img{
    width: 100%;
    height: 100%;
    transition: all, 1s;
}

.x {
    animation: x 13s linear infinite alternate;
}

.y {
    animation: y 7s linear infinite alternate;
}

.net-holder{
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.net{
    position: fixed;
    top:-600px;
    left:50%;
    width:500px;
    height: 500px;
    transition: 1s;
}

.net img{
    width:500px;
    height: 500px;
    object-fit: cover;
}

.fullscreen-toggle{
  z-index: 4;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
}

.fullscreen-toggle button{
  background: none;
  border: none;
  width: 50px;
  height: 50px;
}

.inactive-fullscreen:after {
    content: url('../Images/fullscreen.svg');/*'\F3DF';*/
}

.active-fullscreen:after{
    content: url('../Images/fullscreen-exit.svg');/*"\F3DE";*/
}

.coin{
    position: fixed;
    transition: 10s;
    animation: linear;
    width: var(--size);
    height: var(--size);
}

.coin img{
    width: 100%;
    height: 100%;
}
.gui{
    z-index: 5;
    position: fixed;
    color: white;
    font-size: 35px;
    padding: 10px;
}

.top-left-gui{
    top: 20px;
    left: 20px;
    text-align: left;
}

.top-right-gui{
    top: 20px;
    right: 20px;
    text-align: right;
}

.game-end-splash{
    z-index: 10;
    position: fixed;
    opacity: 1;
    top: 10%;
    right: 10%;
    width: 80%;
    height: 80%;
    transform: rotate(5deg);
    background: var(--light-color);
    border-radius: 30px;
    transition: 1s;
}

.hidden{
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    width: 5%;
    height: 5%;
    transform: rotate(0);
    transition: 1s;
    pointer-events: none;
}

.black-screen{
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}